@{
    ViewData["Title"] = "Classes";
}
<div class="MyContainer">
    <div class="MyHeadDiv">
        <img class="HomeText" src="~/lib/Assets/Classes.png"/>
    </div>
    <div class="ClassesMainDiv">

    </div>
</div>

