@{
    ViewData["Title"] = "Faq";
}
<div class="MyContainer">
    <div class="MyHeadDiv">
        <img class="HomeText" src="~/lib/Assets/Faq.png"/>
    </div>
    <ul>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">General</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Multiplayer and Battle.net</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Gameplay</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Realms</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Ladder</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Hardware and Operationg systems</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Items</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Skills, Corpses, and Hirelings</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Diablo II: Lord of Destruction</a></li>
        <li><a class="text-blue" href="https://us.battle.net/support/en/">Technical Questions</a></li>
    </ul>
</div>
