@{
    ViewData["Title"] = "Home";
}
<div class="MyContainer">
    <div class="text-center">
        <img class="HomeText" src="~/lib/Assets/HomeText.png"/>
        <hr />
        <p>Welcome to The Rogue Encampment Resurrected, a strategy guide for Diablo 2 Resurrected!</p>

        <h6>Corrections/whishes</h6>
        <p>If you find something wrong or if you just want to add somthing --> <a class="text-blue" asp-area="" asp-controller="Home" asp-action="Index">Go here</a></p>
    </div>
</div>

