@{
    ViewData["Title"] = "Items";
}
<div class="MyContainer">
    <div class="MyHeadDiv">
        <img class="HomeText" src="~/lib/Assets/Items.png"/>
    </div>
    <p>As you journey through the lands of Sanctuary you will come across numerous items that can help you accomplish your goals.</p>

    <h6>Item Basics</h6>
    <p>Learn about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Basic Skill Information]  (UC)</a></p>

    <h6>Potions</h6>
    <p>Learn about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Potions]  (UC)</a></p>

    <h6>Rings and Amulets</h6>
    <p>Learn about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Rings and Amulets] (UC)</a></p>

    <h6>Weapons and Armor</h6>
    <p>Learn about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Weapons and Armor] (UC)</a></p>

    <h6>Socketed Items (Gems,Jewels and Runes)</h6>
    <p>Learn about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Socketed items] (UC)</a></p>

    <ul>
        <li>
            <h5>Gems</h5>
            <p>Precious gems embody innate magical abilities. When set into a socketed item these gems can add powerful magic effects.<a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Learn more about Gems] (UC)</a></p>
        </li>
        <li>
            <h5>Jewels</h5>
            <p>
                Jewels are similar to Gems, except that instead of having predetermined magical abilities like a Gem,
                each Jewel possesses random magic properties, allowing you to bestow a wide variety of magical abilities to your Socketed Item.
                <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Learn more about Jewels] (UC)</a>
            </p>
        </li>
        <li>
            <h5>Runes</h5>
            <p>
                Runes are small stones inscribed with magical glyphs that can be inserted into Socketed Items.
                Runes are different from other Insertable Items: not only do individual Runes have magical properties,
                certain combinations (or Rune Sets), when inserted into an item in the proper order, give that item even more wondrous abilities.
                [Learn more about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Runes</a> and 
                <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Rune Words (UC)</a>.]
            </p>
        </li>
    </ul>

    <h6>Magic, Rare, Crafted, Set and Unique Items</h6>
    <p>
        The names of Magic, Rare, Crafted/Very Rare, Set, and Unique Items appear in 
        <strong style="color:#2C5AEE;">Violet</strong>,
        <strong style="color:yellow;">Yellow</strong>,
        <strong style="color:orange;">Orange</strong>,
        <strong style="color:lime;">Green</strong>,
        and <strong style="color:gold;">Gold</strong> text, respectively.
    </p>

    <ul>
        <li>
            <h6 style="color:#2C5AEE">Magic Items</h6>
            <p>
                As Hell's will has corrupted the land, mages and smiths crafted many magical means to keep the people safe from harm.
                Fine jewelry, armor, and weapons were often enchanted with arcane energies in an effort to assist those who battled against the tide of evil.
                During your travels you will likely encounter items imbued with these magics, whose names appear in blue when highlighted.
                Magic Items have one or two magical attributes applied to the basic item. [Learn more about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Magic Items</a> ].
                Take a look at Magic <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Prefixes and Suffixes] (UC)</a>.
            </p>
        </li>
        <li>
            <h6 style="color:yellow;">Rare Items</h6>
            <p>
                Some magic items radiate energy beyond that of a simple enchanted item.
                Although much less common, these rare items are significantly more powerful than standard magically enhanced items.
                A Rare item is distinguished by a yellow title when highlighted.
                Rare items contain two to six magic properties and are highly valued by those that have them.
                The names of rare items are not linked to their magical attributes. Learn more about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Rare Items] (UC)</a>.
            </p>
        </li>
        <li>
            <h6 style="color:orange;">Crafted Items</h6>
            <p>
                Crafted Items are similar to rare items but can only be created using the Horadric Cube.
                These items have fixed properties as well as random Magic Prefixes and Suffixes. [Learn more about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Crafted Items (UC)</a>]
            </p>
        </li>
        <li>
            <h6 style="color:lime;">Set Items</h6>
            <p>
                Rumors persist of unique, distinguished item sets that once belonged to great champions and heroes from the past.
                These sets are said to bestow additional magic abilities once all its pieces have been found and equipped.
                Set items are recognizable by their green names. Once identified, each set item names the other pieces required to complete the set.
                Set Items are uniquely named and have several magic attributes. When a character is equipped with all the items of a Set
                , additional bonus magic attributes are added as well. When a set item is selected items in the entire set are listed,
                and the ones in the set you have in your possession are highlighted. See a list of <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Set Items] (UC)</a>.
            </p>
        </li>
        <li>
            <h6 style="color:gold;">Unique Items</h6>
            <p>
                Once in a long while, a dedicated and intrepid adventurer may come across an item of particularly legendary and unique power.
                Unique Items have unique names and attributes. Unique Items are more rare than Rare or Set Items. See some <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Unique Items] (UC)</a>.
            </p>
        </li>
    </ul>

    <h6>Charms</h6>
    <p>
        Charms are special magic items that grant magical enhancements without needing to be equipped to do so.
        Charms provide their abilities simply by being in the "Backpack" section of your character's Inventory.
        They do not function if placed inside your character's Stash or inside a Horadric Cube (even if that Horadric Cube is located in your hero's Backpack).
        Charms come in three sizes: Small, Medium, Large. <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Learn more about Charms] (UC)</a>.
    </p>

    <h6>The Horadric Cube</h6>
    <p>
        More than just a Quest Item, the Horadric Cube can be used for several things.<a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Learn more about The Horadric Cube] (UC)</a>.
    </p>
</div>