@{
    ViewData["Title"] = "Maps";
}
<div class="MyContainer">
    <div class="MyHeadDiv">
        <img class="HomeText" src="~/lib/Assets/Maps.png"/>
    </div>
    <p>The world of Sanctuary consists of many smaller areas that you will come across in your journey to find Diablo.
        Each area is usually surrounded with man-made or natural boundaries with a passageway into the next area.
        While most areas have only one passageway to the next area,
        there are exceptions where a secondary passageway may be found above or below ground.
    </p>
    <p>
        As adventurers, you will no doubt be interested in the existence of <a class="text-blue" asp-area="" asp-controller="Home" asp-action="Basics">[Waypoints]</a>.
        These transportation devices, created in ages long past by the sages of the Horadrim, are found in many of the areas that you will come across.
        The notes for the area will indicate if a Waypoint exists, and if so, it will be up to you to find and activate it.
    </p>
    <p>
        The areas near the Western Kingdoms have been well traveled and so the easiest method to get from one area to another is
        to follow the paths and roads that have been used for quite some time.
        However, the well traveled roads are now mostly deserted due to the increased reports of aggressive and adversely affected
        behavior from the once peaceful denizens of the wilderness. Some even report that the dead are rising in the form of zombies,
        wraiths and other nightmarish manifestations. For more information on the inhabitants of the wilderness,
        check out the <a class="text-blue" asp-area="" asp-controller="Home" asp-action="Monsters">[Monsters]</a> section.
        As for tips on how to navigate through the Western Kingdoms, stay close to the paths and you should be safe for the most part.
        Venture into the heart of the wilderness areas at your own risk.
    </p>
    <p>
        The Deserts of Aranoch and the Jungles of Kehjistan and Kurast are less welcome and thus have been much less traveled.
        For the most part, you will be forced to explore each area that you come across to find the clues and treasures that will help you
        on your quest to find and stop Diablo. Note that these areas are not for the weak - only the most skilled and courageous adventurers
        will make their way through these areas.
    </p>
    <ul>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Act I Map (UC)</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Act II Map (UC)</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Act III Map (UC)</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Act IV Map (UC)</a></li>
        <li><a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">Act V Map (UC)</a></li>
    </ul>
</div>