@{
    ViewData["Title"] = "Shrines";
}
<div class="MyContainer">
    <div class="MyHeadDiv">
        <img class="HomeText" src="~/lib/Assets/Shrines.png"/>
    </div>
    <p>
        The many realms of Sanctuary contain wonders of all kinds. Some of the most mysterious are the Shrines and Wells scattered across the lands.
        These Shrines and Wells are always beneficial, but you should choose the best times to use them.
        Note: Fire Shrines will damage yourself and other players. Highlight each Shrine to display a descriptive name.
        Left-click on a Shrine or Well to invoke its magical effect. Shrine effects wear off after a period of time.
        Your character can be under the influence of only one Shrine at a time, and activating a second Shrine replaces the effect of the first.
        Most Wells and some Shrines recharge after a brief period of time and can then be used again.
    </p>
    <p>
        Not all Shrines have an Icon above them on this page or in the game.
        Sometimes it is easy to pass up these Shrines without an Icon because you think you have already used them,
        or when they have been used by someone else in a multiplayer game.
        Don't pass these Shrines up. Check every Shrine you see and you may find a valuable Gem Shrine.
    </p>
    <p>
        Be sure to run your mouse over a Shrine before clicking on it to see what kind of Shrine you have found.
        Be very careful around special Shrines so that you do not use them until you are ready.
        Avoid clicking on a Monster Shrine until you are ready to fight a Unique Monster or Champion.
        Don't click on a Gem Shrine before you have the proper Gem ready to upgrade.
    </p>
    <p>
        Shrines that have a duration and Wells can be used to counter or remove the effects of a monster's curse,
        such as those casted by "Cursed" Unique Monsters, and Oblivion Knights. But the reverse is also true,
        monsters and hostile players can remove a Shrine bonus if/when they cast a curse on the Player.
    </p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Shrine Name</th>
                <th>Shrine Effect</th>
                <th>Regeneration Time (Min)</th>
                <th>Duration (Sec)</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr class="text-center">
                <td><img class="TablePic" src="~/lib/Assets/Mana-Regeneration.png"/></td>
                <td>Mana Regeneration Shrine</td>
                <td>+400% mana regeneration rate</td>
                <td>5</td>
                <td>96</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Armor-Shrine.webp"/></td>
                <td>Armor Boost</td>
                <td>+100% Defence</td>
                <td>5</td>
                <td>96</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Combat-Shrine.png"/></td>
                <td>Combat Boost</td>
                <td>+200% to Attack Rating, +200% min and max damage</td>
                <td>5</td>
                <td>96</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Fire-Resistance.png"/></td>
                <td>Resist Fire Boost</td>
                <td>+75% Fire resistance</td>
                <td>5</td>
                <td>144</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Cold-Res.png"/></td>
                <td>Resist Cold Boost</td>
                <td>+75% Cold resistance</td>
                <td>5</td>
                <td>144</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Lightning-Res.png"/></td>
                <td>Resist Lightning Boost</td>
                <td>+75% Lightning resistance</td>
                <td>5</td>
                <td>144</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Poison-Res.png"/></td>
                <td>Resist Posion Boost</td>
                <td>+75% Posion resistance</td>
                <td>5</td>
                <td>144</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Skill-Shrine.png"/></td>
                <td>Skill Shrine</td>
                <td>+2 to all skill levels</td>
                <td>5</td>
                <td>96</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Stamina-1.png"/></td>
                <td>Stamina Boost</td>
                <td>Unlimited Stamina</td>
                <td>5</td>
                <td>192</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Experience-2.png"/></td>
                <td>Experience Boost</td>
                <td>50% more experience per kill</td>
                <td>5</td>
                <td>144</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Refilling-Shrine.png"/></td>
                <td>Refilling Shrine</td>
                <td>Fills health and Mana</td>
                <td>2</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Health-Shrine.png"/></td>
                <td>Health Shrine</td>
                <td>Fully refills Health</td>
                <td>2</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Mana-Shrine.png"/></td>
                <td>Mana Shrine</td>
                <td>Fully refills Mana</td>
                <td>2</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Refilling-Shrine.png"/></td>
                <td>Portal Shrine</td>
                <td>Opens a portal to the Town in the act</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Refilling-Shrine.png"/></td>
                <td>Fire Shrine</td>
                <td>All players and monsters lose 1/2 current HP, Fireballs</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Refilling-Shrine.png"/></td>
                <td>Monster Shrine</td>
                <td>The nearest monster becomes a Unique or Champion monster</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Refilling-Shrine.png"/></td>
                <td>Gem Shrine</td>
                <td>Upgrades a Random Gem or Skull in your Inventory or gives a chipped Gem or Skull</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Refilling-Shrine.png"/></td>
                <td>Exploding Shrine</td>
                <td>Gives player 5-10 exploding potions and tosses out 5 exploding potions in random directions/distances</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><img class="TablePic" src="~/lib/Assets/Refilling-Shrine.png"/></td>
                <td>Poison Shrine</td>
                <td>Gives player 5-10 Poison gas Potions & Creates ring of Poison gas around shrine. The Poison Shrine also has another (hidden) bonus of making Poison Duration = 0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
    <br />

    <h5>Notes</h5>
    <p>Shrines only affect the player that first touches the Shrine except in the case of the Fire Shrine.</p>
    <p><strong>Skill Shrine</strong> - This Shrine will not give you points in skills that you do not already have at least one point in, through skill points or items.</p>
    <p>
        <strong>Gem Shrines</strong> - Upgrades a random gem. If you do not have a Gem, the Gem Shrine will give you a random chipped Gem.
        You can use a Gem Shrine to upgrade a Gem to the next level. Perfect Gems cannot be upgraded.
        If you have several Gems in your inventory, The one that stayed in your inventory with the most time will be upgraded.
        If you want a specific Gem upgraded, drop all the Gems in your inventory except the one you want to upgrade or drag each 
        gem onto your hand and refresh every and each one of them by placing onto inventory again; except the one that you want to upgrade.
        Then click on the Gem Shrine. Gem Shrines will not upgrade Gems that are already placed in armor or weapons.
    </p>
    <ul>
        <li>
            <h6>What do Gem Shrines look like?</h6>
            <p>They vary in appearance depending what area you are in and which act you are playing.</p>
        </li>
        <li>
            <h6>Will a Gem Shrine upgrade a Gem that is already socketed?</h6>
            <p>No.</p>
        </li>
        <li>
            <h6>Where can I find Gem Shrines?</h6>
            <p>Gem Shrines are rare and randomly located. Some areas have more Shrines than others. Perhaps you should scan these areas to search for Gem Shrines.</p>
        </li>
    </ul>

    <h5>Wells</h5>
    <p>
        Wells refill your Life, Mana and Stamina. Wells will also cure Poison and remove Curses.
        Touch the Well once to receive a partial refill (if it is full), touch it again to use the rest of the well.
        Note the locations of wells and come back to them when you need to use them.
        A useful strategy is to lead monsters back to a Well and fight until you're low on health or mana, then quickly click on the Shrine for a refill.
        Wells also completely replenish your mercenary and minions to full Life.
        Using only the first half (partial refill) of the well causes it to replenish faster. As the empty well refills to half before again refilling to full.
    </p>
    <p>Wells can differ in appearance from area to area, but you can always find one by the cleansing water that a well will always contain.</p>
    <p><strong>Note:</strong> If all three of your attributes are full (Health, Mana, and Stamina) you will waste the well and receive no benefit.</p>
</div>