@{
    ViewData["Title"] = "Skills";
}
<div class="MyContainer">
    <div class="MyHeadDiv">
        <img class="HomeText" src="~/lib/Assets/Skills.png"/>
    </div>
    <h5 class="text-center">Skill Basics</h5>
    <p class="text-center">Learn about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Basic Skill Information]</a></p>
    <p class="text-center">Learn about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="CastInfo">[Casting Delays]</a></p>

    <h6 class="text-center">Character Skills</h6>
    <p class="text-center">Click on one of the tabs below to view the skills of that character.
       For a popup window of the skill trees, click the <em class="RedEm">red</em> + buttons next to the skill tabs
    </p>
    <div class="SkillMainDiv">
        <div id="CharOuterDiv" class="row">
            <div id="AmaClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">Javelin and spear skills</button>
                    <button class="btn btn-primary" type="button">Passive and magic skills</button>
                    <button class="btn btn-primary" type="button">Bow and crossbow skills</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="AssaClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">Martial arts</button>
                    <button class="btn btn-primary" type="button">Shadow disciplines</button>
                    <button class="btn btn-primary" type="button">Traps</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="NecroClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">Summoning spells</button>
                    <button class="btn btn-primary" type="button">Posion and bone spells</button>
                    <button class="btn btn-primary" type="button">Curses</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="BarbClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">Warcries</button>
                    <button class="btn btn-primary" type="button">Combat masteries</button>
                    <button class="btn btn-primary" type="button">Combat skills</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="SorcClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">Cold spells</button>
                    <button class="btn btn-primary" type="button">Lightning spells</button>
                    <button class="btn btn-primary" type="button">Fire spells</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="DruidClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">Elemental skills</button>
                    <button class="btn btn-primary" type="button">Shape shifting skills</button>
                    <button class="btn btn-primary" type="button">Summoning skills</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="PalaClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">Defensive auras</button>
                    <button class="btn btn-primary" type="button">Offensive auras</button>
                    <button class="btn btn-primary" type="button">Combat skills</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                    <button class="btn btn-danger" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>