@{
    ViewData["Title"] = "Skills";
}
<div class="MyContainer">
    <div class="MyHeadDiv">
        <img class="HomeText" src="~/lib/Assets/Skills.png"/>
    </div>
    <h5>Skill Basics</h5>
    <p>Learn about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="SkillInfo">[Basic Skill Information]</a></p>
    <p>Learn about <a class="text-blue" asp-area="" asp-controller="Home" asp-action="CastInfo">[Casting Delays]</a></p>

    <h6>Character Skills</h6>
    <p>Click on one of the tabs below to view the skills of that character.
       For a popup window of the skill trees, click the <em class="RedEm">red</em> + buttons next to the skill tabs
    </p>
    <div class="SkillMainDiv">
        <div id="CharOuterDiv" class="row">
            <div id="AmaClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="AssaClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="NecroClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="BarbClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="SorcClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="DruidClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div id="CharOuterDiv" class="row">
            <div id="PalaClass" class="col-3"></div>
            <div class="col-7">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                    <button class="btn btn-primary" type="button">1 skill tree</button>
                </div>
            </div>
            <div class="col-1">
                <div class="d-grid gap-3 pt-4">
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                    <button class="btn btn-primary" type="button">+</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>